<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>eXo UX Guidelines</title>
  <link rel="shortcut icon" type="image/x-icon"  href="../img/favicon.ico" />

  <link rel="stylesheet" href="../../css/fonts.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../css/eXoSkin.css">

  <link rel="stylesheet" href="../../css/bootstrap.min.css">

  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed ">
<div class="wrapper">

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar elevation-2">
    <!-- Brand Logo -->
    <div class="brand-link">
      <a href="../../index.html">
        <img src="../../img/logo.png" alt="AdminLTE Logo" class="brand-image">
      </a>
      <span class="brand-text font-weight-light">UX Guidlines</span>
    </div>
    <form class="form-inline ml-3 mr-3 exo-input-search">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="icon-ios-search-strong"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link active">
              <p class="font-weight-bold">
                Getting Started
                <i class="right icon-ArrowRight"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item nav-item">
                <a href="../getting-started/download-source.html" class="nav-link">
                  <p>Download Source</p>
                </a>
              </li>
              <li class="nav-item  nav-item">
                <a href="../getting-started/file-structure.html" class="nav-link">
                  <p>File Structure</p>
                </a>
              </li>
              <li class="nav-item nav-item">
                <a href="../getting-started/What-included.html" class="nav-link">
                  <p>What's Included?</p>
                </a>
              </li>
              <li class="nav-item nav-item">
                <a href="../getting-started/html-template.html" class="nav-link">
                  <p>HTML Template</p>
                </a>
              </li>
              <li class="nav-item nav-item">
                <a href="../getting-started/exo-skin.html" class="nav-link">
                  <p>eXo Skin Customization</p>
                </a>
              </li>
              <li class="nav-item nav-item">
                <a href="../getting-started/what-next.html" class="nav-link">
                  <p>What's Next</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview menu-open">
            <a href="" class="nav-link">
              <p class="font-weight-bold">
                Components
                <i class="right icon-ArrowRight"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Alert
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="alert.html" class="nav-link">
                      <p>Warning</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="alert.html#success" class="nav-link">
                      <p>Success</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="alert.html#indormation" class="nav-link">
                      <p>Information</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="alert.html#error" class="nav-link">
                      <p>Error</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="alert.html#sample" class="nav-link">
                      <p>Sample</p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Avatar
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="avatar.html" class="nav-link">
                      <p>Style</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="avatar.html#size" class="nav-link">
                      <p>Size</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Bagde And Loading
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="bagde-and-loading.html" class="nav-link">
                      <p>Badges</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="bagde-and-loading.html#loading" class="nav-link">
                      <p>Loading</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Botton
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="botton.html" class="nav-link">
                      <p>Style</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="botton.html#buttonSize" class="nav-link">
                      <p>Button size</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="botton.html#disableState" class="nav-link">
                      <p>Disabled state</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="botton.html#samples" class="nav-link">
                      <p>Samples</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Color
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="color.html" class="nav-link">
                      <p>Main Colors</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="color.html#generatedColors" class="nav-link">
                      <p>Generated Colors</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="color.html#accentColors" class="nav-link">
                      <p>Accent Colors</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="color.html#changeColorStyle" class="nav-link">
                      <p>How To Change Color Style?</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    CSS Classes
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="classes.html" class="nav-link">
                      <p>Bootstrap Classes</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="classes.html#platformClasses" class="nav-link">
                      <p>Platform Classes</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Dropdown
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="dropdown.html#defaultDropDown" class="nav-link">
                      <p>Default Dropdown</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="dropdown.html#dropdownWithIcon" class="nav-link">
                      <p>Dropdown With Icon</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="dropdown.html#subMenu" class="nav-link">
                      <p>Sub-menu</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="dropdown.html#dropdownButton" class="nav-link">
                      <p>Dropdown button</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Form
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="form.html" class="nav-link">
                      <p>Special Fields</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="form.html#BasicElements" class="nav-link">
                      <p>Basic Input Elements</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Icons
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="icons.html" class="nav-link">
                      <p>Style</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="icons.html#howToUse" class="nav-link">
                      <p>How To Use</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="icons.html#IconLibrery" class="nav-link">
                      <p>Icon Librery</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="icons.html#sample" class="nav-link">
                      <p>Sample</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Mention
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="mention.html#mentionAUser" class="nav-link">
                      <p>Mention A User</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="mention.html#mentionATag" class="nav-link">
                      <p>Mention A Tag</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Mini Calendar
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="mini-calendar.html" class="nav-link">
                      <p>Basic Mini Calendar</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="mini-calendar.html#miniCalendar" class="nav-link">
                      <p>Mini Calendar with time input</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Navigation
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="navigation.html#basicNavigation" class="nav-link">
                      <p>Basic Navigation</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="navigation.html#accordionMenu" class="nav-link">
                      <p>Accordion Menu</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="navigation.html#navbar" class="nav-link">
                      <p>Navbar</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Progress Bar
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="#basic" class="nav-link">
                      <p>Basic</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#striped" class="nav-link">
                      <p>Striped</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#animated" class="nav-link">
                      <p>Animated</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Table
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="table.html#defaultTable" class="nav-link">
                      <p>Default Table</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="table.html#tableWithAction" class="nav-link">
                      <p>Table With Actions</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="table.html#emptyTable" class="nav-link">
                      <p>Empty Table</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Thumbnail
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="thumbnail.html#thumbnailAttachments" class="nav-link">
                      <p class="text-truncate">Thumbnail for image attachments</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="thumbnail.html#thumbnailInFolders" class="nav-link">
                      <p>Thumbnail In Folders</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Tooltip And Popover
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="tooltip-and-popover.html#tooltip" class="nav-link">
                      <p>Tooltip</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="tooltip-and-popover.html#popover" class="nav-link">
                      <p> Popover</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Trees
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="trees.html#basicTrees" class="nav-link">
                      <p>Basic Trees</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="trees.html#advancedTrees" class="nav-link">
                      <p> Advanced Trees</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Typography
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="typography.html#headings" class="nav-link">
                      <p>Headings</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="typography.html#bodyCopy" class="nav-link">
                      <p>Body Copy</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="typography.html#emphasis" class="nav-link">
                      <p>Emphasis</p>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li> 
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <p  class="font-weight-bold">
                Patterns
                <i class="right icon-ArrowRight"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Breadcrumb
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="../petterns/breadcrumb-pattern.html" class="nav-link">
                      <p>Overview</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../petterns/breadcrumb-pattern.html#howItWorks" class="nav-link">
                      <p>How it works?</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Hover-reveal
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="../petterns/hover-reveal-actions-pattern.html" class="nav-link">
                      <p>Overview</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../petterns/hover-reveal-actions-pattern.html#fewActions" class="nav-link">
                      <p class="text-truncate">Objects with few actions</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../pettern/shover-reveal-actions-pattern.html#multipleActions" class="nav-link">
                      <p class="text-truncate">Objects with multiple actions</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Message
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="../petterns/messages-pattern.html" class="nav-link">
                      <p>Overview</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../petterns/messages-pattern.html#errorMessage" class="nav-link">
                      <p>Error message</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../petterns/messages-pattern.html#warningMessage" class="nav-link">
                      <p>Warning message</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../petterns/messages-pattern.html#informarionMessage" class="nav-link">
                      <p>Information message</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../petterns/messages-pattern.html#confirmationMessage" class="nav-link">
                      <p>Confirmation message</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../petterns/messages-pattern.html#multipleMessage" class="nav-link">
                      <p>Multiple messages</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Popup
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="../petterns/popup-window-pattern.html" class="nav-link">
                      <p>Overview</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../petterns/popup-window-pattern.html#popupSize" class="nav-link">
                      <p>Popup size</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../petterns/popup-window-pattern.html#popupSize" class="nav-link">
                      <p>Default popup</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../petterns/popup-window-pattern.html#popupWithBlockTabs" class="nav-link">
                      <p>Popup with block tabs</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../petterns/popup-window-pattern.html#popupWithBorder" class="nav-link">
                      <p>Popup with border</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../petterns/popup-window-pattern.html#popupWithoutButton" class="nav-link">
                      <p>Popup without button</p>
                    </a>
                  </li>
                </ul>
              </li>

              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Pagination
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="../petterns/pagination-pattern.html" class="nav-link">
                      <p>Overview</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../petterns/pagination-pattern.html#fullPagination" class="nav-link">
                      <p>Full pagination</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../petterns/pagination-pattern.html#morePagination" class="nav-link">
                      <p>More pagination</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Tabs
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="../petterns/tabs.html" class="nav-link">
                      <p>Overview</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../petterns/tabs.html#tabInPopup" class="nav-link">
                      <p>Tab in popup</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../petterns/tabs.html#grayTabInPage" class="nav-link">
                      <p>Gray tab in page</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../petterns/tabs.html#whiteTabInPage" class="nav-link">
                      <p>White tab in page</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Sort by Column
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="../petterns/sort-by-column.html" class="nav-link">
                      <p>Overview</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../petterns/sort-by-column.html#howItWorks" class="nav-link">
                      <p>How it works?</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Table Filter
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="../petterns/table-filters.html" class="nav-link">
                      <p>Overview</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../petterns/table-filters.html#howItWorks" class="nav-link">
                      <p>How it works?</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Rating
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="../petterns/rate-pattern.html" class="nav-link">
                      <p>Overview</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../petterns/rate-pattern.html#howItWorks" class="nav-link">
                      <p>How it works?</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item has-treeview">
                <a href="#" class="nav-link nav-sub-link">
                  <p>
                    Uploading
                    <i class="right icon-ArrowRight"></i>
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="../petterns/upload-pattern.html" class="nav-link">
                      <p>Overview</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="../petterns/upload-pattern.html#howItWorks" class="nav-link">
                      <p>How it works?</p>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="page-title px-5 py-4">
      <h1 class="title-text font-weight-normal">Progress bar</h1>
    </div>
     <div class="page-content p-5">
        <p>
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        </p>
    </div>
    <div class="page-footer pl-5">
      <p>Copyright ©2021. All rights reserved. <a href="https://www.exoplatform.com/" target="_blank">eXo Platform SAS</a></p>
    </div>
  </div>
  <!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->

<!-- SCRIPTS -->
<script src="../../js/jquery.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/exoScript.js"></script>


</body>
</html>
