
/*----------------------Nav  ----------------*/
.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover, .nav-link:focus {
  text-decoration: none;
}

.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}


.nav-item.sub-nav-item p {
  padding-left: 30px;
}

.exo-input-search {
  margin-top: 8.5rem ;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #ffffff;
  background-color: #007bff;
}


html,
body,
.wrapper {
  min-height: 100%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

a{
	text-decoration: none!important;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -khtml-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover{
  text-decoration: none!important;
}


.wrapper {
  position: relative;
}

.wrapper .content-wrapper {
  min-height: 100vh;
}

.layout-boxed .wrapper {
  box-shadow: 0 0 10 rgba(0, 0, 0, 0.3);
}

.layout-boxed .wrapper, .layout-boxed .wrapper::before {
  margin: 0 auto;
  max-width: 1250px;
}

.layout-boxed .wrapper .main-sidebar {
  left: inherit;
}

.page-content .text-style {
  color: #333333bd;
  word-spacing: 1.2px;
  line-height: 26px;
  margin-bottom: 6px;
}

.page-footer {
  position: absolute;
  bottom: -30px;
  font-size: 14px;
  color: #333333;
  width: calc(100% - 250px);
  background: white;
}

.page-footer a {
  color: #578DC9;
}

.exo-skin-page-subtitle {
  color: #616161;
}

.p-x-6 {
  padding-left: 6rem;
  padding-right: 6rem;
}

.exo-skin-btn {
  border: none;
  border-radius: 25px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-decoration: none;
  color: #333;
  background-color: #ffcb08;
  border: 1px solid #ffcb08;
  text-align: center;
  letter-spacing: .5px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.exo-skin-btn:hover {
  background-color: transparent;
  color: #ffcb08;
}


@supports not (-webkit-touch-callout: none) {
  .layout-fixed .wrapper .sidebar {
    height: calc(100vh - (12rem));
  }
}



.layout-navbar-fixed .wrapper a.anchor {
  display: block;
  position: relative;
  top: calc((3.5rem + 1px + (0.5rem * 2)) / -1);
}

.layout-navbar-fixed .wrapper .main-sidebar:hover .brand-link {
  transition: width 0.3s ease-in-out;
  width: 250px;
}

.layout-navbar-fixed .wrapper .brand-link {
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: width 0.3s ease-in-out;
  width: 250px;
  z-index: 1035;
}

.layout-navbar-fixed .wrapper .main-header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1033;
}


.layout-navbar-fixed.layout-fixed .wrapper .sidebar {
  margin-top: 30px;
  padding-bottom: 50px;
}

.layout-navbar-fixed .wrapper a.anchor {
  display: block;
  position: relative;
  top: calc((3.5rem + 1px + (0.5rem * 2)) / -1);
}

.layout-navbar-fixed .wrapper .brand-link {
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: width 0.3s ease-in-out;
  width: 250px;
  z-index: 1035;
}

.layout-navbar-fixed .wrapper .main-header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1037;
}

.layout-navbar-not-fixed .wrapper .brand-link {
  position: static;
}


.layout-navbar-not-fixed .wrapper .main-header {
  position: static;
}

.layout-navbar-not-fixed.layout-fixed .wrapper .sidebar {
  margin-top: 0;
}

@media (min-width: 576px) {
  .layout-sm-navbar-fixed .wrapper a.anchor {
    display: block;
    position: relative;
    top: calc((3.5rem + 1px + (0.5rem * 2)) / -1);
  }
  .layout-sm-navbar-fixed .wrapper .brand-link {
    overflow: hidden;
    position: fixed;
    top: 0;
    transition: width 0.3s ease-in-out;
    width: 250px;
    z-index: 1035;
  }


  .layout-sm-navbar-fixed .wrapper .main-header {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1037;
  }

  .layout-sm-navbar-not-fixed .wrapper .brand-link {
    position: static;
  }

  .layout-sm-navbar-not-fixed .wrapper .main-header {
    position: static;
  }
  .layout-sm-navbar-not-fixed.layout-fixed .wrapper .sidebar {
    margin-top: 0;
  }
}

.content-wrapper > .content {
  padding: 0 0.5rem;
}

.main-sidebar, .main-sidebar::before {
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
  width: 250px;
}

@media (prefers-reduced-motion: reduce) {
  .main-sidebar, .main-sidebar::before {
    transition: none;
  }
}


@media (max-width: 767.98px) {
  .main-sidebar, .main-sidebar::before {
    box-shadow: none !important;
    margin-left: -250px;
  }
  .sidebar-open .main-sidebar, .sidebar-open .main-sidebar::before {
    margin-left: 0;
  }
}

:not(.layout-fixed) .main-sidebar {
  height: inherit;
  min-height: 100%;
  position: absolute;
  top: 0;
}

.layout-fixed .brand-link {
  width: 250px;
}

.layout-fixed .main-sidebar {
  bottom: 0;
  float: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  /*background: #e2e9ef;*/
  background: white;
}

@supports (-webkit-touch-callout: none) {
  .layout-fixed .main-sidebar {
    height: inherit;
  }
}

.main-footer {
  background: #ffffff;
  border-top: 1px solid #dee2e6;
  color: #869099;
  padding: 1rem;
}

.hold-transition .content-wrapper,
.hold-transition .main-header,
.hold-transition .main-sidebar,
.hold-transition .main-sidebar *,
.hold-transition .main-footer {
  transition: none !important;
  -webkit-animation-duration: 0s !important;
  animation-duration: 0s !important;
}

.main-header {
  border-bottom: 1px solid #dee2e6;
  z-index: 1034;
}

.main-header .nav-link {
  height: 2.5rem;
  position: relative;
}


.main-header .navbar-nav .nav-item {
  margin: 0;
}

.main-header .navbar-nav[class*='-right'] .dropdown-menu {
  left: auto;
  margin-top: -3px;
  right: 0;
}

@media (max-width: 575.98px) {
  .main-header .navbar-nav[class*='-right'] .dropdown-menu {
    left: 0;
    right: auto;
  }
}


.form-control-navbar + .input-group-append {
  margin-left: -44px;
}

.form-control-navbar {
  min-height: 40px;
  border-radius: 25px!important;
}

.input-group-append .btn-navbar{
  border-radius: 25px;
  background: transparent;
}

.brand-link {
  display: block;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 0.8125rem 0.5rem;
  transition: width 0.3s ease-in-out;
  white-space: nowrap;
}

.brand-link:hover {
  color: #ffffff;
  text-decoration: none;
}

[class*='sidebar-dark'] .brand-link {
  color: rgba(255, 255, 255, 0.8);
}

[class*='sidebar-light'] .brand-link {
  border-bottom: 1px solid #dee2e6;
  color: rgba(0, 0, 0, 0.8);
}

.brand-link .brand-image {
  display: block;
  margin: 10px auto;
  line-height: .8;
  max-height: 55px;
  width: auto;
}

.brand-link .brand-text {
  display: block;
  text-align: center;
  color: #333333;
}

.main-sidebar {
  height: 100vh;
  overflow-y: hidden;
  z-index: 1038;
}

.main-sidebar a:-moz-focusring {
  border: 0;
  outline: none;
}

.sidebar {
  height: calc(100% - (3.5rem + 1px));
  overflow-y: auto;
  padding-bottom: 0;
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}
.sidebar::-webkit-scrollbar-track {
  background: transparent;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #acb7c8cd;
  border-radius: 5px;
}
.sidebar::-webkit-scrollbar-thumb:hover {
  background:   #a8b3c5;
}

.user-panel {
  position: relative;
}

[class*='sidebar-dark'] .user-panel {
  border-bottom: 1px solid #4f5962;
}

[class*='sidebar-light'] .user-panel {
  border-bottom: 1px solid #dee2e6;
}

.user-panel,
.user-panel .info {
  overflow: hidden;
  white-space: nowrap;
}

.user-panel .image {
  display: inline-block;
  padding-left: 0.8rem;
}

.user-panel img {
  height: auto;
  width: 2.1rem;
}

.user-panel .info {
  display: inline-block;
  padding: 5px 5px 5px 10px;
}

.user-panel .status,
.user-panel .dropdown-menu {
  font-size: 0.875rem;
}

.nav-sidebar .nav-item > .nav-link {
  margin-bottom: .2rem;
}

.nav-sidebar .nav-item > .nav-link .right {
  transition: -webkit-transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
}

@media (prefers-reduced-motion: reduce) {
  .nav-sidebar .nav-item > .nav-link .right {
    transition: none;
  }
}

.nav-sidebar .nav-link > .right,
.nav-sidebar .nav-link > p > .right {
  position: absolute;
  right: 1rem;
  top: 15px;
}

.nav-sub-link .icon-ArrowRight{
  top: .6rem!important;
  font-size: 10px!important;
}

.sidebar .nav-link p.text-truncate {
  max-width: 150px;
}

.nav-sidebar .nav-link > .right i,
.nav-sidebar .nav-link > .right span,
.nav-sidebar .nav-link > p > .right i,
.nav-sidebar .nav-link > p > .right span {
  margin-left: .5rem;
}

.nav-sidebar .nav-link > .right:nth-child(2),
.nav-sidebar .nav-link > p > .right:nth-child(2) {
  right: 2.2rem;
}

.nav-sidebar .menu-open > .nav-treeview {
  display: block;
}

.nav-sidebar .menu-open > .nav-link i.right {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.nav-link .icon-ArrowRight {
  font-size: 12px;
}

.nav-sidebar > .nav-item {
  margin-bottom: 0;
}

.nav-sidebar > .nav-item .nav-icon {
  margin-left: .05rem;
  font-size: 1.2rem;
  margin-right: .2rem;
  text-align: center;
  width: 1.6rem;
}

.nav-sidebar > .nav-item .nav-icon.fa, .nav-sidebar > .nav-item .nav-icon.fas, .nav-sidebar > .nav-item .nav-icon.far, .nav-sidebar > .nav-item .nav-icon.fab, .nav-sidebar > .nav-item .nav-icon.glyphicon, .nav-sidebar > .nav-item .nav-icon.ion {
  font-size: 1.1rem;
}

.nav-sidebar > .nav-item .float-right {
  margin-top: 3px;
}

.nav-sidebar .nav-treeview {
  display: none;
  list-style: none;
  padding: 0;
  padding-left: 20px;
}

.nav-treeview .nav-link.active {
  background: transparent!important;
  color: #007bff!important;
}

.nav-treeview .nav-link {
  padding: .3rem 1rem!important;
}

.nav-treeview .nav-link p{
  font-size: 14px;
}

.nav-sidebar .nav-treeview > .nav-item > .nav-link > .nav-icon {
  width: 1.6rem;
}

.nav-sidebar.nav-child-indent .nav-treeview {
  transition: padding 0.3s ease-in-out;
  padding-left: 1rem;
}


.nav-sidebar.nav-child-indent.nav-legacy .nav-treeview .nav-treeview {
  padding-left: 2rem;
  margin-left: -1rem;
}


.nav-sidebar .nav-header {
  font-size: .9rem;
  padding: 0.5rem;
}

.nav-sidebar .nav-header:not(:first-of-type) {
  padding: 1.7rem 1rem .5rem;
}

.nav-sidebar .nav-link p {
  display: inline-block;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  margin: 0;
}

#sidebar-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1037;
}

@media (max-width: 991.98px) {
  .sidebar-open #sidebar-overlay {
    display: block;
  }
}


.nav-collapse-hide-child .menu-open > .nav-treeview {
  max-height: -webkit-min-content;
  max-height: -moz-min-content;
  max-height: min-content;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.sidebar-collapse .nav-collapse-hide-child .menu-open > .nav-treeview {
  max-height: 0;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.sidebar .form-inline .input-group {
  width: 100%;
}

.sidebar nav .form-inline {
  margin-bottom: .2rem;
}


.nav-sidebar {
  position: relative;
}

.nav-sidebar:hover {
  overflow: visible;
}

.sidebar-form,
.nav-sidebar > .nav-header {
  overflow: hidden;
  text-overflow: clip;
}

.nav-sidebar .nav-item > .nav-link {
  position: relative;
}

.nav-sidebar .nav-item > .nav-link > .float-right {
  margin-top: -7px;
  position: absolute;
  right: 10px;
  top: 50%;
}

.sidebar .nav-link p,
.main-sidebar .brand-text,
.sidebar .user-panel .info {
  transition: margin-left 0.3s linear, opacity 0.3s ease, visibility 0.3s ease;
}

@media (prefers-reduced-motion: reduce) {
  .sidebar .nav-link p,
  .main-sidebar .brand-text,
  .sidebar .user-panel .info {
    transition: none;
  }
}

.nav-pills .nav-link {
  color: #6c757d;
  border-radius: 0!important;
}

.nav-pills .nav-link:not(.active):hover {
  color: #007bff;
}

.has-treeview > .nav-link {
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav-pills .nav-item.dropdown.show .nav-link:hover {
  color: #ffffff;
}

.nav-pills > .nav-link:hover {
  color: #fff!important;
  background-color: #007bff;
}

.nav-item.has-treeview.menu-open > .nav-link.active {
  background-color: #a8b3c5!important;
  color: #333333;
}

.elevation-2 {
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}

.content-wrapper {
  margin-left: 250px;
}

.content-wrapper .intro-wrapper {
  min-height: 100vh;
  background:url(../img/bg.png) no-repeat;
  background-position: right center;
  background-size: contain;
  display: flex;
  align-items: center;
  
}

.content-wrapper .getting-started-wrapper {
  min-height: 100vh;
  background:url(../img/e1.png) no-repeat #F9E6AC;
  background-position: left center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.getting-started-content, .patterns-content {
  padding-right: 5%!important;
}

.exo-getting-started, .exo-components, .exo-patterns {
  color: #4D5466;
  font-size: 36px!important;
}

.exo-getting-started-text, .exo-components-text, .exo-patterns-text {
  font-size: 18px;
  color: #333333;
}

.exo-read-more-btn {
  color: #578DC9;
  font-size: 14px;
}

.exo-read-more-btn i {
  font-size: 10px;
  font-weight: bold;
}

.content-wrapper .components-wrapper {
  min-height: 100vh;
  background:url(../img/e2.png) no-repeat #CACED4;
  background-position: right center;
  background-size: contain;
  display: flex;
  align-items: center;
}

.components-content {
  padding-left: 5%!important;
}

.content-wrapper .patterns-wrapper {
  min-height: 100vh;
  background:url(../img/e3.png) no-repeat #AFCDFB;
  background-position: left center;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.exo-input-search .input-group {
  width: 100%!important;
}

.exo-input-search .input-group input {
  min-height: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.exo-input-search .icon-ios-search-strong {
  font-size: 25px;
  color: #a8b3c5;
}

.exo-input-search .input-group input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a8b3c5;
  font-size: 16px;
}
.exo-input-search .input-group input::-moz-placeholder { /* Firefox 19+ */
  color: #a8b3c5;
  font-size: 16px;
}
.exo-input-search .input-group input::-ms-input-placeholder { /* IE 10+ */
  color: #a8b3c5;
  font-size: 16px;
}
.exo-input-search .input-group input::-moz-placeholder { /* Firefox 18- */
  color: #a8b3c5;
  font-size: 16px;
}


/*------------------------------ Pages --------------------------*/

.title-text {
  color: #568eca;
  letter-spacing: .5px;
}

.big-text {
  font-size: 18px;
}

.page-title {
  border-bottom: 1px solid #e2e9ef;
}

.exo-intro-title-blue {
  color: #568eca;
}

.exo-intro-text {
  font-size: 18px;
  width: 50%;
  line-height: 38px;
  font-weight: 100;
  margin-bottom: 30px;
  color: #333333;
}

.exo-download-btn {
  background: #568eca;
  border: 1px solid #568eca;
  padding: 10px 15px;
  color: white;
  margin-right: 15px;
  font-size: 20px;
  border-radius: 4px;
  letter-spacing: .2px;
}

.exo-download-btn:hover {
  color: #568eca;
  background: transparent;
}

.exo-learn-more-btn {
  background: white;
  border: 1px solid #568eca;
  padding: 10px 15px;
  color: #568eca;
  margin-right: 15px;
  font-size: 20px;
  border-radius: 4px;
  letter-spacing: .2px;
}


.main-sidebar .sidebar .nav-sidebar >.has-treeview.menu-open > .nav-link, .main-sidebar .sidebar .nav-sidebar .has-treeview > .nav-link:hover {
  background-color: #578DC9!important;
  color: white!important;
  padding-top: 10px;
  padding-bottom: 10px;
  -o-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -khtml-transition: all 0.2s linear;
   -webkit-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}

.nav-link, .main-sidebar .sidebar .nav-sidebar .has-treeview .nav-link.nav-sub-link:hover {
  background-color:transparent!important;
  color: #578DC9!important;
  -o-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -khtml-transition: all 0.2s linear;
   -webkit-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;

}

.main-sidebar .sidebar .nav-sidebar .nav-item .nav-link {
  background-color: transparent!important;
  color: #333333!important;
  padding-top: 10px;
  padding-bottom: 10px;
  -o-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -khtml-transition: all 0.2s linear;
   -webkit-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}

.nav-sidebar .menu-open > .nav-treeview > .menu-open > .nav-sub-link , .main-sidebar .sidebar .nav-sidebar .nav-item .nav-link.link-on{
  color: #578DC9!important;
}

/*---------------------- Download source page --------------------------*/

.download-exo-github {
  cursor: pointer;
  -o-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -khtml-transition: all 0.2s linear;
   -webkit-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
   border: 1px solid #f3f3f3;
   border-radius: 11px;
}

.download-exo-github:hover {
  background: #e6e6e6;
}

.download-exo-github i {
  font-size: 5rem;
  color: #b6b7ba;
  position: relative;
  -o-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -khtml-transition: all 0.2s linear;
   -webkit-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}

.download-exo-github i:after {
  content: "\e914";
  font-size: 24px;
  position: absolute;
  bottom: -3px;
  right: 86px;
  background: #ffcb08;
  color: #ffffff;
  border-radius: 50%;
}

.download-exo-text {
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #333333bd;
}

.download-exo-github:hover download-exo-text {
  color: #333333;
}



/*---------------------- File structure page --------------------------*/

.exo-ux-guidlines-data-structure p {
  margin-bottom: 8px;
}

.data-structure-sub-title-file {
  padding-left: 4rem;
}

.data-structure-sub-title-file1 {
  padding-left: 5rem;
}

pre.language-markup {
  padding: 25px 12px 2px 22px;
  border: solid 1px rgba(51,51,51,0.12);
  background: rgba(246,246,246,0.2);
  margin: auto;
  overflow-x: scroll;
  position: relative;
}

pre.language-markup:before {
  position: absolute;
  padding: 1px 5px;
  background: #e8e6e3;
  top: 0;
  left: 0;
  -webkit-font-smoothing: antialiased;
  color: #555;
  content: attr(class);
  font-size: .9rem;
  border: solid 1px rgba(51,51,51,0.12);
  border-top: none;
  border-left: none;
}

.text-style code {
  background-color: rgba(0,0,0,.05);
  color: #578dc9;
  border-radius: 3px;
  font-size: 85%;
  font-weight: 400;
  padding: .2em .4em;
}

