.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
.loading-action {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: loading 1s infinite linear;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.uiSpaceMenu {
  border-bottom: 1px solid #cccccc;
  background-color: #252525;
  background-image: -moz-linear-gradient(top, #2c2c2c, #1a1a1a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2c2c2c), to(#1a1a1a));
  background-image: -webkit-linear-gradient(top, #2c2c2c, #1a1a1a);
  background-image: -o-linear-gradient(top, #2c2c2c, #1a1a1a);
  background-image: linear-gradient(to bottom, #2c2c2c, #1a1a1a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2c2c2c', endColorstr='#ff1a1a1a', GradientType=0);
  -webkit-box-shadow: inset;
  -moz-box-shadow: inset;
  box-shadow: inset;
  height: 90px;
}
.uiSpaceMenu .spaceMenuTab {
  background: url("/eXoSkin/skin/images/themes/blue/social/skin/SpaceMenuPortlet/shadow.png") no-repeat left center;
  height: 90px;
  border-bottom: none;
}
.uiSpaceMenu .spaceMenuTab > li {
  padding-bottom: 4px;
}
.uiSpaceMenu .spaceMenuTab > li + li {
  margin-left: -1px;
}
.uiSpaceMenu .spaceMenuTab > .active {
  background: url("/eXoSkin/skin/images/themes/blue/social/skin/SpaceMenuPortlet/arrowIcon.png") no-repeat bottom center;
}
.uiSpaceMenu .spaceMenuTab > li > a,
.uiSpaceMenu .spaceMenuTab > li > a:hover,
.uiSpaceMenu .spaceMenuTab > .active > a,
.uiSpaceMenu .spaceMenuTab > .active > a:hover {
  text-align: center;
  border: none;
  background: none;
  height: 51px;
  min-width: 45px;
  margin: 10px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.uiSpaceMenu .spaceMenuTab > .active > a {
  background-color: #e0e0e0;
  background-image: -moz-linear-gradient(top, #cccccc, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cccccc), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #cccccc, #ffffff);
  background-image: -o-linear-gradient(top, #cccccc, #ffffff);
  background-image: linear-gradient(to bottom, #cccccc, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcccccc', endColorstr='#ffffffff', GradientType=0);
  -webkit-box-shadow: 1px 0 4px rgba(0, 0, 0, 0.38) inset;
  -moz-box-shadow: 1px 0 4px rgba(0, 0, 0, 0.38) inset;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.38) inset;
}
.uiSpaceMenu .spaceMenuTab > li > a:hover,
.uiSpaceMenu .spaceMenuTab > .active > a:hover {
  background-color: rgba(144, 144, 144, 0.2);
  background-image: -moz-linear-gradient(top, rgba(153, 153, 153, 0.2), rgba(130, 130, 130, 0.2));
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(153, 153, 153, 0.2)), to(rgba(130, 130, 130, 0.2)));
  background-image: -webkit-linear-gradient(top, rgba(153, 153, 153, 0.2), rgba(130, 130, 130, 0.2));
  background-image: -o-linear-gradient(top, rgba(153, 153, 153, 0.2), rgba(130, 130, 130, 0.2));
  background-image: linear-gradient(to bottom, rgba(153, 153, 153, 0.2), rgba(130, 130, 130, 0.2));
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33999999', endColorstr='#33828282', GradientType=0);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.36) inset;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.36) inset;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.36) inset;
}
.uiSpaceMenu .spaceMenuTab > li > a > img {
  width: 31px;
  height: 31px;
}
.uiSpaceMenu .spaceMenuTab > li > a > span {
  display: block;
  color: #ffffff;
}
.uiSpaceMenu .spaceMenuTab > .active > a > span {
  color: #333333;
  text-shadow: none;
}
.uiSpaceMenu .spaceMenuTab > .dropdown > a > b {
  border: 2px dashed #cccccc;
  color: #ffffff;
  display: block;
  font-size: 20px;
  font-weight: 100;
  padding: 3px 8px;
}
.uiSpaceMenu .nodeIconBg {
  display: block;
  float: left;
  width: 39px;
  background-position: center;
}
