.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
.loading-action {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: loading 1s infinite linear;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
[class^="uiIconAns"] {
  background-image: url("../../../../../../eXoSkin/skin/images/themes/default/forum/portlets/answers/Icons/uiIconsAnsDefault.png");
}
/* Blue icons with optional class, or on hover/active states of certain elements */
.uiActionWithLabel:hover > [class^="uiIconAns"],
.actionIcon:hover > [class^="uiIconAns"],
.nav-pills > .active > a > [class^="uiIconAns"],
.nav-list > .active > a > [class^="uiIconAns"],
.navbar-inverse .nav > .active > a > [class^="uiIconAns"],
.dropdown-menu > li > a:hover > [class^="uiIconAns"],
.dropdown-menu > .active > a > [class^="uiIconAns"],
.uiDropdownWithIcon .dropdown-submenu:hover > a > [class^="uiIconAns"],
.actionIcon.active [class^="uiIconAns"],
.btn:hover [class^="uiIconAns"],
a:hover > [class^="uiIconAns"],
[class^="uiIconAns"]:hover,
.uiActionBar [class^="uiIconAns"]:hover,
.uiIconAnsBlue {
  background-image: url("../../../../../../eXoSkin/skin/images/themes/default/forum/portlets/answers/Icons/uiIconsAnsPrimary.png");
}
/* light grey icons with optional class, or on  */
.dropdown-menu > li > a > [class^="uiIconAns"],
.dropdown-menu > .active > a > [class^="uiIconAns"],
.uiDropdownWithIcon .dropdown-submenu > a > [class^="uiIconAns"],
.uiDropDownCal li a [class^="uiIconAns"],
.uiActionBar [class^="uiIconAns"],
.answerToolbar [class^="uiIconAns"],
.uiIconAnsLightGray {
  background-image: url("../../../../../../eXoSkin/skin/images/themes/default/forum/portlets/answers/Icons/uiIconsAnsDefault.png");
}
.uiIconAnsExtra, .uiIconAnsDarkGray,
.LeftNavigationTDContainer [class^="uiIconAns"] {
  background-image: url("../../../../../../eXoSkin/skin/images/themes/default/forum/portlets/answers/Icons/uiIconsAnsExtra.png");
}
/* White icons with optional class, or on hover/active states of Drop down with Icons */
.uiDropdownWithIcon .nav-pills > .active > a > [class^="uiIconAns"],
.uiDropdownWithIcon .nav-list > .active > a > [class^="uiIconAns"],
.uiDropdownWithIcon .navbar-inverse .nav > .active > a > [class^="uiIconAns"],
.uiDropdownWithIcon .dropdown-menu > li > a:hover > [class^="uiIconAns"],
.uiDropdownWithIcon .dropdown-menu > .active > a > [class^="uiIconAns"],
.uiDropdownWithIcon .dropdown-submenu:hover > a > [class^="uiIconAns"],
.btn-primary [class^="uiIconAns"],
.btn-primary:hover [class^="uiIconAns"],
.uiIconAnsWhite {
  background-image: url("../../../../../../eXoSkin/skin/images/themes/default/forum/portlets/answers/Icons/uiIconsAnsSecondary.png");
}
[class^="uiIconAnwserColor"] {
  background-image: url("../../../../../../eXoSkin/skin/images/themes/default/forum/portlets/answers/Icons/uiIconsAnswerColor.png");
}
.dropdown > a:hover > [class^="uiIconAnwserColor"],
[class^="uiIconAnwserColor"]:hover,
a:hover > [class^="uiIconAnwserColor"],
i:hover [class^="uiIconAnwserColor"] {
  background-image: url("../../../../../../eXoSkin/skin/images/themes/default/forum/portlets/answers/Icons/uiIconsAnswerColor.png");
}
.uiIconAnsSubmitQuestion,
.uiIconAnsAddNewQuestion {
  background-position: -20px 0;
}
.uiIconAnsManageCategory {
  background-position: 0px 0;
}
.uiIconAnsSentMail {
  background-position: -60px 0;
}
.uiIconAnsManageQuestion {
  background-position: -40px 0;
}
.uiIconAnsThumbDownMini {
  background-position: -20px -20px;
}
.uiIconAnsThumbUpMini {
  background-position: 0px -20px;
}
.uiIconAnsAnswer {
  background-position: -40px -20px;
}
.uiIconAnsApprove {
  background-position: -100px 0px;
}
.uiIconAnsDisapprove {
  background-position: -120px 0px;
}
.uiIconAnsPromte {
  background-position: -180px 0px;
}
.uiIconAnsEnable {
  background-position: -140px 0px;
}
.uiIconAnsDisable {
  background-position: -160px 0px;
}
.uiIconAnwserColorCloseTiny {
  background-position: 0 0;
}
.uiIconAnwserColorLockTiny {
  background-position: -20px 0;
}
.uiIconAnwserColorOffline {
  background-position: -40px 0;
}
.uiIconAnwserColorUnread {
  background-position: -60px 0;
}
.uiIconAnwserColorOnline {
  background-position: -80px 0;
}
.uiIconAnwserColorAway {
  background-position: -100px 0;
}
.uiIconAnwserColorBusy {
  background-position: -120px 0;
}
.pdt5 {
  padding: 5px 0 0 ;
}
.mgl0 {
  margin-left: 0;
}
.uiQuestionForm .form-horizontal .control-group:first-child input[type="text"] {
  width: 380px;
}
.uiQuestionForm .form-horizontal .areaCheckbox label {
  margin: 0 15px 0 0;
}
.uiQuestionForm .viewAttachFile {
  margin: 5px 0;
  line-height: 18px;
}
.uiResponseForm .listRelated {
  padding: 10px 0 0;
}
.uiResponseForm .listRelated .listItem {
  padding: 2px 0;
}
.resultQuickSearch .actionBar {
  margin: 10px 0;
}
.resultQuickSearch .actionBar .uiPageIterator {
  margin: 0;
}
.uiViewUserProfile .titleBar {
  color: #2f5e92;
  font-weight: bold;
  margin: 0 0 10px;
}
.uiViewUserProfile .titleBar .userName {
  margin: 0 0 0 18px;
  line-height: 16px;
}
.uiViewUserProfile .userContent {
  padding: 10px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f0f0f0;
  min-height: 250px;
}
.uiViewUserProfile .profileContainer {
  margin-left: 260px;
}
.uiViewUserProfile .profileContainer td {
  padding: 2px 5px;
}
.uiQuestionManagerForm .uiGrid {
  margin-bottom: 0;
}
.uiQuestionManagerForm .pathCategory .uiIconArrowRightMini {
  background-position: -40px -138px;
}
.uiQuestionManagerForm .uiQuestionForm .form-horizontal .control-group:first-child input[type="text"] {
  width: 270px;
}
.uiQuestionFormExport .control-label {
  width: 120px;
}
.uiQuestionFormExport .control-label + .controls {
  margin-left: 140px;
}
.uiSendEMailForm .form-horizontal .control-To .control-label {
  padding-top: 0;
}
.uiSendEMailForm .linkTo {
  text-transform: uppercase;
}
.uiSendEMailForm .control-Message .controls > div {
  float: left;
  width: 98%;
}
.searchContent input[type="text"] {
  vertical-align: middle;
}
.uiInsertAddress .searchContent .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}
.multiValueContainer {
  margin-bottom: 10px;
}
#UIPrintAllQuestions {
  padding: 50px;
}
#UIPrintAllQuestions .uiAction {
  padding-top: 20px;
}
.printBox + .printBox {
  margin-top: 20px;
}
.uiUserWatchManager .emailAddress {
  padding: 0 0 0 18px;
}
.uiUserWatchManager a {
  color: #333333;
}
.uiUserSettingForm .form-horizontal .control-group .control-label {
  width: 100px;
}
.uiUserSettingForm .form-horizontal .control-group .controls {
  margin-left: 120px;
}
.uiUserSettingForm .form-horizontal .control-group .uiSelectbox {
  margin-right: 15px;
  width: 143px;
}
.uiUserSettingForm .form-horizontal .control-group .uiSelectbox .selectbox {
  width: 146px;
}
.uiUserSettingForm .form-horizontal .control-group .avatarLarge {
  margin-top: 12px;
}
.uiUserSettingForm .form-horizontal .control-group .uiCheckbox {
  margin-top: 22px;
}
.faqPermissionGrid + input[type="text"] {
  margin-bottom: 0px;
}
.uiUserWatchManager .uiIconArrowRightMini {
  background-position: -40px -138px;
}
.uiAnswersPortlet .treeContainer .uiIconHome {
  margin-left: 7px;
}
.uiWatchForm .actionIcon {
  margin-left: 5px;
}
.faqPortletSetting .uiDiscussion #CategoryPath + .actionIcon {
  margin-left: 10px;
}
.faqPortletSetting .editorContainer {
  width: 93%;
  margin-right: 5px;
}
.faqPortletSetting .actionButtonGroup {
  margin-bottom: 20px;
}
.faqPortletSetting .uiTabContentContainers {
  border: 1px solid #cccccc;
}
.faqPortletSetting .uiTabContentContainers .uiTabContent {
  padding: 20px;
}
.faqPortletSetting .uiTabContentContainers .uiDisplayTab .form-horizontal .control-label {
  width: 210px;
}
.faqPortletSetting .uiTabContentContainers .uiDisplayTab .form-horizontal .controls {
  margin-left: 220px;
}
.faqPortletSetting .uiTabContentContainers .uiTabContentContainer {
  border: 1px solid #cccccc;
}
.UIImportForm .uploadButton {
  text-align: center;
}
.faqDnDCategory {
  position: absolute;
  padding: 0px 0px 4px 20px;
  line-height: 14px;
  height: 14px;
  border: 1px solid #cccccc;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.uiAnswersPortlet {
  padding: 20px 20px 0px 20px;
}
.uiAnswersPortlet .uiAnswersBreadcumbs {
  padding-top: 3px;
}
.uiAnswersPortlet .uiAnserContainer .answersContainer {
  padding: 20px 10px 10px;
}
.uiAnswersPortlet .uiAnserContainer .leftColumn {
  width: 220px;
}
.uiAnswersPortlet .uiAnserContainer .avatarMini {
  width: 16px;
  height: 16px;
}
.uiAnswersPortlet .uiAnserContainer .avatarMini img {
  width: 16px;
  height: 16px;
}
.uiAnswersPortlet .resize {
  margin-top: 8px;
}
.uiAnswersPortlet .resize a {
  background-color: #f9f9f9;
  background-image: -moz-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: -o-linear-gradient(top, #ffffff, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff, #f0f0f0);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f0f0', GradientType=0);
  border: 1px solid #cccccc;
  border-right: 0;
  padding: 4px 0;
  display: block;
  float: left;
  margin-left: 2px;
  outline: none;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.uiAnswersPortlet .resize.resizeLt a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  border-right: 1px solid #cccccc;
  border-left: 0;
  margin-left: 0px;
}
.uiAnswersPortlet .resize .iconControll {
  cursor: pointer;
}
.uiAnswersPortlet .resize .line {
  width: 2px;
  border-left: 1px solid #cccccc;
  margin: auto;
  min-height: 300px;
  cursor: col-resize;
}
.uiAnswersPortlet .normalQuest {
  margin-bottom: 10px;
}
.uiAnswersPortlet .normalQuest .leftContent {
  margin: 0 20px 0 0;
  width: auto;
}
.uiAnswersPortlet .normalQuest .leftContent + .rightContent {
  margin-left: 160px;
}
.uiAnswersPortlet .normalQuest .rightContent .titleWithBorder {
  margin: 0 0 10px 0;
}
.uiAnswersPortlet .normalQuest .time {
  color: #999999;
}
.uiAnswersPortlet .uiAnserContainer .resize {
  width: 30px;
}
.uiAnswersPortlet .uiAnserContainer .rightColumn {
  margin-left: 255px;
}
.uiAnswersPortlet .uiAnserContainer .rightColumn .metaContent {
  overflow: hidden;
}
.uiAnswersPortlet .uiAnserContainer .rightColumn .uiGrayLightBox .clearfix {
  display: inline-block;
  width: 100%;
}
.uiAnswersPortlet blockquote {
  background: none;
  border-left: 5px solid #aac5e3;
  margin: 0 0 20px;
  padding: 0 0 0 15px;
  width: auto;
}
.uiAnswersPortlet blockquote:after {
  display: none;
}
.uiAnswersPortlet .uiCategories .listCategories > li {
  cursor: pointer;
}
.uiAnswersPortlet .uiCategories .listCategories > li.faqTmpCategory {
  min-height: 8px;
}
.uiAnswersPortlet .uiCategories .listCategories > li.faqHighlightCategory {
  height: 20px;
}
.uiAnswersPortlet .uiQuestions {
  margin: 10px 0 0 0;
  padding-bottom: 0;
}
.uiAnswersPortlet .uiQuestions .answerToolbar {
  min-height: 28px;
}
.uiAnswersPortlet .uiQuestions .answerToolbar > ul > li {
  float: left;
  margin: 0 10px 0 0;
}
.uiAnswersPortlet .uiQuestions .answerToolbar > ul > li a {
  color: #333333;
}
.uiAnswersPortlet .uiQuestions .answerToolbar > ul > li li a {
  color: #333333;
}
.uiAnswersPortlet .uiQuestions .answerToolbar > .menuRight > li {
  margin: 0 0 0 10px;
}
.uiAnswersPortlet .uiQuestions .answerToolbar .dropdown-menu li a:hover {
  color: #ffffff;
}
.uiAnswersPortlet .questionSelect {
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.uiAnswersPortlet .questionSelect > .responseItemContainer {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  background: #f0f0f0;
  min-height: 110px;
}
.uiAnswersPortlet .questionSelect > .responseItemContainer .languageContainer {
  margin: 0 20px 0 0;
}
.uiAnswersPortlet .questionSelect .attachmentContainer {
  margin-top: 0;
}
.uiAnswersPortlet .questionSelect .attachmentContainer,
.uiAnswersPortlet .questionSelect .notResponse {
  border-top: 1px solid #cccccc;
  color: #999999;
}
.uiAnswersPortlet .questionSelect + .questionContainer {
  margin-top: 20px;
}
.uiAnswersPortlet .questionSelect .voteResult {
  margin: 0px 0 5px 0;
  float: right;
}
.uiAnswersPortlet .questionSelect .voteResult .ratingInfoContainer {
  margin: 1px 5px 0 0;
}
.uiAnswersPortlet .uiFAQContent + .questionContainer {
  margin-top: 20px;
}
.uiAnswersPortlet .notResponse {
  padding: 10px 16px;
}
.uiAnswersPortlet .uiQuestionInfo .select-category label {
  display: inline-block;
}
.uiAnswersPortlet .uiQuestionInfo .select-category .uiSelectbox {
  width: 75px;
}
.uiAnswersPortlet .uiQuestionInfo .select-category .uiSelectbox select.selectbox {
  width: 100px;
}
.uiAnswersPortlet .questionRight .iconContainer,
.uiAnswersPortlet .questionRight .sortAnswer {
  text-align: right;
}
.uiAnswersPortlet .responseItemContainer .avatarXSmall + .responseItemContainerRight {
  margin-left: 50px;
}
.uiAnswersPortlet .responseItemContainer.itemFirst .uiDropdownWithIcon {
  margin-top: -28px;
}
.uiAnswersPortlet .responseItemContainer {
  min-height: 30px;
  padding: 12px 16px;
}
.uiAnswersPortlet .responseItemContainer .actionBar {
  min-height: 25px;
}
.uiAnswersPortlet .responseItemContainer + .responseItemContainer {
  border-top: 1px solid #cccccc;
}
.uiAnswersPortlet .responseItemContainer .date {
  color: #999999;
  font-size: 12px;
}
.uiAnswersPortlet .responseItemContainer .avatarXSmall {
  margin-top: 5px;
}
.uiAnswersPortlet .questionSelect .sortAnswer a {
  color: #333333;
}
.uiAnswersPortlet .questionSelect .avatarLarge {
  width: 70px;
  height: auto;
}
.uiAnswersPortlet .questionSelect .avatarLarge .authorName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  color: #2f5e92;
  margin-top: 5px;
  display: block;
}
.uiAnswersPortlet .questionSelect .avatarLarge img {
  width: 70px;
  height: 70px;
  border: 1px solid #ffffff;
}
.uiAnswersPortlet .questionSelect .avatarLarge + .questionRight {
  margin-left: 90px;
}
.uiAnswersPortlet .questionSelect h5 {
  margin: 0;
}
.uiAnswersPortlet .titleResponseContent {
  border-top: 1px solid #cccccc;
  margin: 0;
  padding: 12px 16px 0 16px;
}
.uiAnswersPortlet .responseComment .responseItemContainer:last-child {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.uiAnswersPortlet .questionContent {
  margin: 6px 0 0 0;
}
.uiAnswersPortlet .theContent {
  word-wrap: break-word;
}
.uiAnswersPortlet .theContent ul,
.uiAnswersPortlet .theContent ol {
  padding: 0;
  margin: 0px 0px 10px 25px;
}
.uiAnswersPortlet .theContent ul li {
  list-style: disc outside none;
}
.uiAnswersPortlet .theContent ol li {
  list-style-type: decimal;
}
.boxNum {
  border: 1px solid #cccccc;
  background: #ffffff;
  float: left;
  min-width: 64px;
  padding: 2px;
  text-align: center;
}
.boxNum h5 {
  margin: 0 ;
}
.boxNum:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.boxNum:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.boxNum.boxNumGray {
  background: #f0f0f0;
}
.boxNum + .boxNum {
  border-left: 1px solid #e6e6e6;
}
/* Content Quote */
.theContent .uiWikiPortlet {
  background: none;
}
.theContent br {
  display: block;
  margin-top: 10px;
}
.theContent .contentQuote {
  font-style: italic;
  padding: 15px 15px 15px 20px;
  background: #eff4fa;
  margin: 10px 0 0 15px;
  word-wrap: break-word;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.theContent .contentQuote .textContent {
  border-left: none;
  padding-left: 0;
  margin-top: 10px;
}
.theContent .contentQuote .textContent .contentQuote {
  border-left: solid 5px #aac5e3;
  padding: 0px 0px 0px 20px;
  margin-top: 15px;
}
.theContent .contentQuote .textContent .contentQuote .titleQuote {
  line-height: 8px;
  height: 13px;
  color: #333333;
}
.theContent .contentQuote .textContent .singleQuote {
  padding: 5px 0px 5px 20px;
  margin: 5px 0px;
}
.theContent .contentQuote .titleQuote {
  font-weight: bold;
  color: #333333;
}
.theContent .textContent {
  word-wrap: break-word;
}
.theContent .textContent .contentQuote {
  font-style: italic;
  padding-left: 0;
  margin: 0;
}
.theContent .textContent .contentQuote .titleQuote {
  font-weight: bold;
  color: #333333;
}
/* Question Container */
.questionContainer .theContent .contentQuote {
  background: #f8f8f8;
}
#UIBreadcumbs.uiGrayLightBox {
  padding: 10px 10px 4px;
}
