.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
.loading-action {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: loading 1s infinite linear;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.uiSpaceNavigationPortlet {
  padding-bottom: 20px;
}
.uiSpaceNavigationPortlet .title {
  text-transform: uppercase;
  color: #0ab5f5;
  background-color: #252525;
  background-image: -moz-linear-gradient(top, #2c2c2c, #1a1a1a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2c2c2c), to(#1a1a1a));
  background-image: -webkit-linear-gradient(top, #2c2c2c, #1a1a1a);
  background-image: -o-linear-gradient(top, #2c2c2c, #1a1a1a);
  background-image: linear-gradient(to bottom, #2c2c2c, #1a1a1a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2c2c2c', endColorstr='#ff1a1a1a', GradientType=0);
  height: 40px;
  line-height: 41px;
  padding: 0 15px;
  margin: 0;
  -webkit-box-shadow: inset 0 1px 0 @baseBackground,0 1px 0 @baseBackground;
  -moz-box-shadow: inset 0 1px 0 @baseBackground,0 1px 0 @baseBackground;
  box-shadow: inset 0 1px 0 @baseBackground,0 1px 0 @baseBackground;
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  text-shadow: none;
}
.uiSpaceNavigationPortlet .title a {
  color: #0ab5f5;
}
.uiSpaceNavigationPortlet .searchInput input {
  height: 28px;
  margin: 18px auto 10px auto;
  width: 200px;
  display: block;
}
.uiSpaceNavigationPortlet .spaceNavigation {
  list-style: none;
  margin: 0;
  padding: 10px 0px;
  max-height: 320px;
  overflow: auto;
}
.uiSpaceNavigationPortlet .spaceNavigation .noSpace {
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}
.uiSpaceNavigationPortlet .spaceNavigation .spaceItem {
  padding: 5px 25px;
  display: block;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.uiSpaceNavigationPortlet .spaceNavigation .spaceIcon {
  color: #ffffff;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: inherit;
}
.uiSpaceNavigationPortlet .spaceNavigation .spaceIcon > img {
  margin-right: 5px;
  vertical-align: -4px;
}
.uiSpaceNavigationPortlet .spaceNavigation .spaceIcon:hover {
  color: #0ab5f5;
}
.uiSpaceNavigationPortlet .spaceNavigation .spaceItemSelected {
  padding: 7px 25px;
  position: relative;
  background: #333333;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  -webkit-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0 0px 3px rgba(0, 0, 0, 0.11);
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.11);
}
.uiSpaceNavigationPortlet .spaceNavigation .spaceItemSelected:after {
  background: #3dc5f7;
  border: 1px solid #06729a;
  border-left: 0;
  -webkit-box-shadow: inset -1px 0px 2px rgba(255, 255, 255, 0.14);
  -moz-box-shadow: inset -1px 0px 2px rgba(255, 255, 255, 0.14);
  box-shadow: inset -1px 0px 2px rgba(255, 255, 255, 0.14);
  content: "";
  height: 34px;
  left: 0;
  top: -1px;
  position: absolute;
  width: 5px;
}
.uiSpaceNavigationPortlet .spaceNavigation .spaceItemSelected > a {
  font-weight: bold;
  color: #ffffff;
}
.uiSpaceNavigationPortlet .moreSpace {
  padding: 6px 25px;
  text-align: center;
  margin: 0 0 10px 0;
}
.uiSpaceNavigationPortlet .moreSpace > a {
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(to bottom, #333333, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=0);
  height: 24px;
  line-height: 24px;
  border: 1px solid #cccccc;
  color: #ffffff;
  display: inline-block;
  margin: auto;
  padding: 0 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
}
.uiSpaceNavigationPortlet .moreSpace > a:hover {
  background-color: #1a1a1a;
}
.uiSpaceNavigationPortlet .joinSpace {
  border-bottom: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 0 @baseBackground,0 1px 0 @baseBackground;
  -moz-box-shadow: inset 0 1px 0 @baseBackground,0 1px 0 @baseBackground;
  box-shadow: inset 0 1px 0 @baseBackground,0 1px 0 @baseBackground;
  line-height: 32px;
}
.uiSpaceNavigationPortlet .joinSpace > a {
  color: #ffffff;
  display: block;
  padding-left: 25px;
}
.uiSpaceNavigationPortlet .joinSpace > a:hover {
  color: #0ab5f5;
}
.uiSpaceNavigationPortlet .joinSpace > a > i {
  margin-right: 5px;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
