.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
}
.loading-action {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: loading 1s infinite linear;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.spaceChooserPopup {
  background: #333333;
  border: 1px solid #cccccc;
  left: 0px;
  min-width: 250px;
  position: absolute;
  top: 28px;
  border-radius: 3px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
}
.spaceChooserPopup a {
  max-width: 100%;
  float: none;
  padding: 5px 10px;
  display: block;
  color: #ffffff;
}
.spaceChooserPopup a:hover {
  color: #333333;
  cursor: pointer;
}
.spaceChooserPopup .title {
  line-height: 30px;
  border-bottom: 1px solid #cccccc;
  background-color: #252525;
  background-image: -moz-linear-gradient(top, #2c2c2c, #1a1a1a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2c2c2c), to(#1a1a1a));
  background-image: -webkit-linear-gradient(top, #2c2c2c, #1a1a1a);
  background-image: -o-linear-gradient(top, #2c2c2c, #1a1a1a);
  background-image: linear-gradient(to bottom, #2c2c2c, #1a1a1a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2c2c2c', endColorstr='#ff1a1a1a', GradientType=0);
  padding: 0px 5px 0px 10px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 4px 4px 0 0;
  height: 31px;
}
.spaceChooserPopup .title .uiIconClose {
  margin: 7px 2px 0;
  cursor: pointer;
}
.spaceChooserPopup .spaceOption {
  line-height: 20px;
  color: #ffffff;
}
.spaceChooserPopup .spaceTitle {
  color: #ffffff;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  font-weight: bold;
  background-color: #252525;
  background-image: -moz-linear-gradient(top, #2c2c2c, #1a1a1a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2c2c2c), to(#1a1a1a));
  background-image: -webkit-linear-gradient(top, #2c2c2c, #1a1a1a);
  background-image: -o-linear-gradient(top, #2c2c2c, #1a1a1a);
  background-image: linear-gradient(to bottom, #2c2c2c, #1a1a1a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2c2c2c', endColorstr='#ff1a1a1a', GradientType=0);
  padding: 5px 0 5px 9px;
}
.spaceChooserPopup .noSpace {
  text-align: center;
  padding: 5px 10px;
  color: #cccccc;
}
.spaceChooserPopup .spaceSearch {
  line-height: 20px;
  padding: 10px 10px 5px 10px;
}
.spaceChooserPopup .spaceList {
  overflow-y: auto;
  height: 300px;
  min-height: 30px;
}
.spaceChooserPopup .spaceList img {
  width: 19px;
  height: 19px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-right: 6px;
  vertical-align: -4px;
}
.spaceChooserPopup .hover:hover {
  background-color: #0ab5f5;
  background-image: linear-gradient(to bottom, #3dc5f7, #0ab5f5);
  background-repeat: repeat-x;
  color: #333333;
  text-shadow: none;
}
.spaceSwitcher {
  line-height: 29px;
  padding: 0 15px;
}
.spaceList > ul > li > a {
  height: 20px;
}
.spaceList > ul > li:last-child,
.spaceList > ul > li:last-child > a {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.uiDocumentSelector .breadcrumb > a.uiIconTree {
  margin-top: 4px;
}
.uiDocumentSelector .center {
  margin-bottom: 10px;
}
.uiDocumentSelector .center .uiDropdownWithIcon {
  text-align: left;
  background: none;
}
.uiDocumentSelector .btn .caret {
  margin-left: 8px;
  display: inline-block;
}
.uiDocumentSelector .actionIcon [class^="uiIcon"] {
  margin-right: 0;
}
.uiDocumentSelector .progressBarFrame .fileNameLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.uiDocumentSelector iframe {
  width: 30px;
  height: 30px;
}
.uiDocumentSelector .listContainer {
  background: #2c2c2c;
  border: 1px solid #cccccc;
  list-style: none outside none;
  margin: 5px 0 0;
  padding: 5px 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  max-height: 250px;
  overflow: auto;
}
.uiDocumentSelector .listContainer li {
  display: block;
  padding: 3px 10px;
}
.uiDocumentSelector .listContainer a {
  color: #ffffff;
}
.uiDocumentSelector .listContainer a:hover {
  color: #0ab5f5;
}
.uiDocumentSelector .TRNoContent {
  color: #cccccc;
  text-align: center;
}
.uiDocumentSelector [class^="uiIcon"] {
  margin-right: 8px;
}
.uiDocumentSelector .btn.dropdown-toggle .uiIconArrowDown.uiIconLightGray {
  margin-right: 0;
}
.BrowseDiv {
  position: relative;
}
.FileHidden {
  overflow: hidden;
  position: absolute;
  height: 26px;
  bottom: 0px;
  right: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
body {
  padding: 0;
  margin: 0;
}
.BrowseLink {
  text-decoration: none;
  border: 1px solid transparent;
  text-align: center;
  width: 24px;
  height: 24px;
  display: block;
}
.BrowseLink .uiIconUpload {
  width: 16px;
  height: 16px;
  background-image: url("/eXoSkin/skin/images/themes/blue/Icons/uiIconsDefault.png");
  background-position: -20px -20px;
  margin-top: 4px;
  display: inline-block;
}
.BrowseLink .uiIconUpload:hover {
  background-image: url("/eXoSkin/skin/images/themes/blue/Icons/uiIconsPrimary.png");
}
.BrowseLink:hover {
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(to bottom, #333333, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=0);
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px 0px rgba(255, 255, 255, 0);
  -moz-box-shadow: 0 1px 2px 0px rgba(255, 255, 255, 0);
  box-shadow: 0 1px 2px 0px rgba(255, 255, 255, 0);
  cursor: pointer;
}
.BrowseLink:hover:active,
.BrowseLink:hover:focus {
  -webkit-box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.15) inset;
  border: 1px solid #c7c7c7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #222222;
}
.BrowseLink:hover .uiIconUpload {
  background-image: url("/eXoSkin/skin/images/themes/blue/Icons/uiIconsPrimary.png");
}
