.uiNotificationAdmin {
  padding: 20px 30px;
}
.uiNotificationAdmin .senderForm label {
  line-height: 27px;
  margin-bottom: 0;
  margin-right: 6px;
}
.uiNotificationAdmin .senderForm .btn {
  padding-top: 5px;
  padding-bottom: 5px;
}
.uiNotificationAdmin .uiGrid.table tr.disable {
  color: gray;
}
.uiNotificationAdmin .uiGrid.table tr td.left label,
.uiNotificationAdmin .uiGrid.table tr td > label {
  padding-left: 20px;
}
.uiNotificationAdmin .inputContainer {
  margin: 0 auto;
}
